<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The milk</title>
    <link rel="stylesheet" type="text/css" href="styles/common.css" />
    <link rel="stylesheet" type="text/css" href="styles/mainPage.css" />
</head>

<body>
    <div class="center">
        <div class="center_circle">
            <h1>The main page</h1>
            <div class="center_links">
                <a href="/textSearch">Text search</a>
                <a href="/voiceSearch">Voice search</a>
                <a href="/guessingGame">Play game</a>
            </div>
        </div>
    </div>
</body>

</html>