<div class="center">
    <div class="center_circle">
        <h1>The main page</h1>
        <div class="center_links">
            <a href="/textSearch">
                <button class="_button">Text search</button>
            </a>
            <a href="/voiceSearch">
                <button class="_button">Voice search</button>
            </a>
            <a href="/guessingGame">
                <button class="_button">Play game</button>
            </a>
        </div>
    </div>
</div>