<div class="center">
    <div class="center_circle">
        <h1>The main page</h1>
        <div class="center_links">
            <a href="/textSearch">Text search</a>
            <a href="/voiceSearch">Voice search</a>
            <a href="/guessingGame">Play game</a>
        </div>
    </div>
</div>