<div class="center">
    <div class="lyric_search">
        <h1>Search song by lyrics</h1>
        <form action="/search" method="GET">
            <div class="lyric_search_input">
                <input class="lyrics_input" type="search" name="lyrics">
                <input class="_button" class="lyrics_input" type="submit" value="Search">
            </div>
        </form>
    </div>
</div>