<div class="center">
    <div class="lyric_search">
        <h1>Search song by lyrics</h1>
        <form action="" method="GET">
            <div class="lyric_search_input">
                <input class="lyrics_input" type="search" name="lyrics">
                <input class="_button" class="lyrics_input" type="submit" value="Search">
            </div>
        </form>
    </div>
</div>
<div class="song_results">
    <h2>Results:</h2>
    <ul class="songs_info">
        {{#each data}}
        <div class="song">
            <p>Title: {{title}}</p>
            <p>Artist: {{artist}}</p>
            <p>Lyrics<br> {{lyrics}}</p>
        </div>
        {{/each}}
    </ul>
</div>