<h1>Voice search</h1>
<div class="uploadSection">
    <form action="/search" method="POST" enctype="multipart/form-data">
        <p>Choose an audio file to guess the song</p>
        <input name="audio_data" id="audio_data" type="file" accept="audio/*">
        <input type="submit" value="Search by audio">
    </form>
</div>
<div class="recordingSection">
    <p>Record an audio file to guess the song</p>
    <button id="recordButton" onclick="startRecording()">Record</button>
    <button id="stopButton" onclick="stopRecording()" type="submit">Stop recording</button>
    <button id="uploadButton" onclick="uploadRecording()">Search by voice</button>
</div>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="scripts/voiceSearchScript.js"></script>